header.sidebar
	.logo
		//- add link on index page
		a(href="#").logo_link 
			img(src="img/logo.png", alt="logo")
	nav.sidebar_nav
		ul
			li
				a(href="#").active Home
			li
				a(href="#") Work
			li
				a(href="#") About
			li
				a(href="#") Blog
			li
				a(href="#") Services
			li
				a(href="#") Contact
	.filter
		span.filter_descr Filter
			img(src="img/icons/sidebar_filter.png", alt="")
		nav.filter_nav
			ul
				li
					a(href="#").active All Works
				li
					a(href="#") web design
				li
					a(href="#") illustration
				li
					a(href="#") photography
				li
					a(href="#") wallpapers
				li
					a(href="#") brochures
	.socials
		ul
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")
	span.copyright © 2014 Kappe, All Rights Reserved