doctype html
html(lang='en')
	include ./includes/head.jade
	body
		main.container
			include ./includes/sidebar.jade
			include ./pages/about.jade
		script(src="libs/jquery/jquery.min.js")
		script(src="js/common.js")