.wrapper_about
	.about_box.about_left_box
		.about_descr
			.about_img
				img(src="img/folio_light.jpg", alt="")
			.about_intro
				h2 Who We Are
				p  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
				p  Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
		.about_team_photo
			h2 Our Staff
			.about_team_photo-photo
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
				.about_photo_item
					img(src="img/folio_light.jpg", alt="")
					.about_photo_item_hover
						span John Smith
						span Web Developer
	.about_box.about_right_box
		.about_skills
			h2 Our Skills
			.about_progress
				span Website Design
				progress(value="89", max="100", data-progress="89%")
			.about_progress
				span Website Development
				progress(value="97", max="100", data-progress="97%")
			.about_progress
				span Plugins
				progress(value="86", max="100", data-progress="86%")
			.about_progress
				span Front End
				progress(value="75", max="100", data-progress="75%")