section.home-content
	.info-box
		.info-box_icon
			<i class="fa fa-info-circle" aria-hidden="true"></i>
		.info-box_toltip
			.info-box_toltip_elem
				<i class="fa fa-phone" aria-hidden="true"></i>
				span 9930 1234 5679
			.info-box_toltip_elem
				<i class="fa fa-envelope" aria-hidden="true"></i>
				span contact@domain.com
			.info-box_toltip_elem
				<i class="fa fa-home" aria-hidden="true"></i>
				span street address example
	.home-content__elements
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_light.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
		.element-item
			img(src="img/folio_dark.jpg", alt="")
			.item_hover
				span Cool App Design
				span development, mobile
				a(href="#").item_hover-box
					<i class="fa fa-arrow-right" aria-hidden="true"></i>